 <%- include('partials/head',{title:title}) %> 
    <%- include('partials/nav',{appTitle:appTitle, active:'/about'}) %> 
        <main class="container">
            <section>
                <header class="my-5">
                    <h1>The tech stack</h1>
                </header>
                <hr />
                <div>
                    <ul>
                        <li>
                            The app is created using
                            <a href="https://expressjs.com/">Express</a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/">Bootstrap</a> is used for styling pages
                        </li>
                        <li>
                            Icons are courtesy
                            <a href="https://fontawesome.com/">Font Awesome</a>
                        </li>
                        <li>
                            <a href="https://ejs.co/">EJS</a> is used for templating.
                        </li>
                        <li>
                            <a href="https://mongoosejs.com/">Mongoose</a> is used to connect to a MongoDB server and
                            validating data against a schema when querying
                        </li>
                        <li>
                            bcrypt is used for hashing passwords , jswebtoken is used to generate JWTs (for
                            authentication
                            and
                            authorization ), multer is used to manage file uploads , morgan and winston are used for
                            logging
                            .
                            You can search for these projects on
                            <a href="https://github.com">Github</a> or
                            <a href="https://npmjs.com">npmjs.com</a>
                        </li>
                        <li>
                            The frontend which is supplied is built using
                            <a href="https://reactjs.org">React</a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

       <%- include('partials/foot') %>

