<%- include('partials/head',{title:title}) %>
    <%- include('partials/nav',{appTitle:appTitle, active:''}) %>
    <main class="container">
        <section>
            <header class="my-5">
                <h1>Error</h1>
            </header>
            <hr />
            <p>
                Something went wrong. Try visiting page later.
            </p>
        </section>
    </main>
</body>

<%- include('partials/foot') %>