<%- include('partials/head',{title:title}) %>
    <%- include('partials/nav',{appTitle:appTitle, active:'/'}) %>
    <main class="container">
        <section>
            <header class="my-5">
                <h1>Page not Found</h1>
            </header>
            <hr />
            <p>
                You reached a dead end.
                You may want to go <a href="/">home</a>
            </p>
        </section>
    </main>
</body>

<%- include('partials/foot') %>